quarkus.datasource.app-storage.jdbc.transactions=xa
quarkus.datasource.app-storage.jdbc.url=jdbc:postgresql://carekobooks-postgres:5432/carekobooks
quarkus.datasource.app-storage.username=postgres
quarkus.datasource.app-storage.password=postgres
quarkus.datasource.app-storage.db-kind=postgresql
